menu "QCloud IoT demo Configuration"


config QCLOUD_IOT_EXPLORER_ENABLED	
	bool "To demo IoT Explorer (y) or IoT Hub (n)"
    default y
    help
        To demo IoT Explorer (y) or IoT Hub (n)	
		
choice DEMO_EXAMPLE_SELECT
	depends on QCLOUD_IOT_EXPLORER_ENABLED
    bool "Select explorer demo example"
    default SMART_LIGHT_ENABLED
    help
        Select explorer demo example
            
    config SMART_LIGHT_ENABLED
        bool "Smart light example"
    config GATEWAY_ENABLED
        bool "Gateway example"
    config RAW_DATA_ENABLED
        bool "Raw data example"
	config MQTT_ENABLED
        bool "Mqtt example"	
endchoice	

config DEMO_EXAMPLE_SELECT
    int
    default 0 if SMART_LIGHT_ENABLED
    default 1 if GATEWAY_ENABLED
    default 2 if RAW_DATA_ENABLED
    default 3 if MQTT_ENABLED


config WIFI_CONFIG_ENABLED
    bool "To use WiFi config or not"
    default y
    help
        To use WiFi config (SoftAP or SmartConfig) or not


config DEMO_WIFI_SSID
    string "WiFi SSID"
    default "YOUR_WIFI"
    help
        wifi ssid

config DEMO_WIFI_PASSWORD
    string "WiFi PASSWORD"
    default "12345678"
    help
        wifi password       

config QCLOUD_OTA_ESP_ENABLED
    depends on PARTITION_TABLE_TWO_OTA
	bool "To enable OTA support on ESP or not"
    default y
    help
        To enable OTA support on ESP or not. Required OTA partition table

endmenu
